.button:hover{
  opacity:50%;
  cursor: pointer;
}


.button{
  margin-right: 10px;
  background-color:transparent;
  padding: 15px;
 border-radius: 25px;
 border-style: solid;
 border-width: 2px;
 border-color: white;
  font-size: 25px;
  padding-inline: 40px;
}

.js_score{
  font-family: 'Times New Roman', Times, serif;
  font-size:25px ;
}
@media(max-width:520px){
  .button{
      font-size: 1.2rem;
  }
  .js_score{
      font-size:1.2rem;
  }    
}
@media(max-width:725px){
  .button{
      font-size: 0.6rem;
      line-height: 1.1;
  }
  .js_score{
      font-size:0.6rem;
      line-height:1.1 ;
  }}